@using Task10.WebPL.Models;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    var awardService = new AwardService();
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="list main-container">
        <ul class="list-group list-group-flush">
            @{
                var awards = awardService.GetAllAwards();
                if (!awards.Any())
                {
                    <li class="list-group-item mybg">
                        No Awards in DB.
                    </li>
                }

                foreach (var award in awards)
                {
        <li class="list-group-item mybg">
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(award.AwardImage))">
            @award.ToString()
        </li>
                }
            }
        </ul>
    </div>
    @RenderBody()
</body>
</html>
