.main {
    width: 400px;
    height: 250px;
    background-color: #0690cf;
    box-sizing: content-box;
    border: 4px solid #0075b2;
    font-family: Arial;
    color: #ffffff;
}

header {
    font-size: 18pt;
    border-bottom: 1px solid #ffffff;
}

form {
    margin-right: 60px;
}

.registration {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.emailtext {
    width: 100%;
}

.passwords {
    display: inline-block;
    margin-top: 20px;
    width: 47%;
}

.right {
    float: right;
}

.input {
    margin-top: 20px;
    margin-left: 20px;
}

.pass {
    width: 100%;
}

.submission {
    margin-top: 25px;
    background-color: #ffdf7f;
    border: none;
    height: 25px;
    font-size: 10pt;
}