body {
    margin: 0;
    background-color: #edeef0;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    position: relative;
    width: 960px;
    margin: auto;
    margin-top: 0px;
    top: -46px
}

.header {
    background-color: #4a76a8;
    width: 960px;
    height: 42px;
    margin: auto;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.left {
    width: 140px;
    float: left;
    background-color: gray;
}

.content {
    width: 550px;
    margin-left: 155px;
}

h1 {
    font-size: 12pt;
    border-radius: 3px 3px 0px 0px;
}

.delete {
    font-size: 10pt;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
}

h1, .delete {
    margin-top: 0;
    background-color: #fafbfc;
    font-weight: 100;
    padding: 15px;
    border: solid 1px #e3e4e8;
    margin-bottom: 0;
}

.common {
    /* TODO change to block */
    display: block;
}

.settings {
    margin-top: 0;
    border: solid 1px #e3e4e8;
    border-right: solid 1px #e3e4e8;
    border-top: none;
    border-bottom: none;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10pt;
}

.setitem {
    border-bottom: solid 1px #e3e4e8;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}

.setitem > :first-child, .pageprefix {
    color: #777777;
}

.sethref {
    color: #2a5885;
    cursor: pointer;
}

.sethref:hover {
    text-decoration: underline;
}

.sitemenu > :nth-child(2) {
    position: relative;
    left: 70px;
}

.profile > :first-child {
    position: relative;
    top: -58px;
}

.profile > :nth-child(2), ._content > :nth-child(2) {
    position: relative;
    left: 20px;
}

.profile > span, ._content span {
    display: inline-block;
}

._content > :first-child {
    position: relative;
    top: -109px;
}

.content input {
    visibility: hidden;
    cursor: pointer;
}

.content input:after {
    content: '';
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    bottom: 0px;
    left: -4px;
    background-color: white;
    border: solid 1px #e3e4e8;
    border-radius: 3px;
    visibility: visible;
}

label, .content input, .content input::after {
    cursor: pointer;
}

.content input:checked::after {
    background-color: #5181b8;
    border-color: #5181b8;
    background-image: url(images/checkbox.png);
    background-size: 12px;
    background-repeat: no-repeat;
}

.comsort {
    padding-top: 10px;
    padding-bottom: 10px;
}

.password > :nth-child(2) {
    position: relative;
    left: 98px;
}

.password, .email, .phone,
.address, .verification, .language {
    cursor: pointer;
}

.password:hover > :last-child,
.email:hover > :last-child,
.phone:hover > :last-child,
.address:hover > :last-child,
.verification:hover > :last-child,
.language:hover > :last-child {
    text-decoration: underline;
}

.password > :last-child,
.email > :last-child,
.phone > :last-child,
.address > :last-child,
.verification > :last-child,
.language > :last-child {
    float: right;
}

.email >:nth-child(2) {
    position: relative;
    left: 25px;
}

.phone > :nth-child(2) {
    position: relative;
    left: 38px;
}

.address > :nth-child(2) {
    position: relative;
    left: 42px;
}

.verification > :nth-child(2) {
    position: relative;
    left: 58px;
}

.language > :nth-child(2) {
    position: relative;
    left: 112px;
}

.language {
    border: none;
}

/* Стиль раздела "безопасность" */

.confirmation, .security {
    display: none;
}

.seccode > :first-child, .reset > :first-child, 
.activity > :first-child, .devices > :first-child {
    display: inline-block;
    position: relative;
    width: 150px;
}

.seccode > :first-child {
    top: -60px;
}

.reset > :first-child {
    top: -10px;
}

.activity > :first-child {
    top:-50px;
}

.devices > :last-child {
    position: relative;
    top: -10px;
}

.devices {
    border: none;
}

.confirmation ul, .security ul {
    display: inline-block;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.confirmation li, .security li {
    margin-bottom: 10px;
}

.confirmation ul > :last-child {
    margin-bottom: 0px;
}


.sechref::before {
    content: '· ';
    display: inline;
}

.sechref:hover::before {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
}


.turnoff {
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.turnoff button {
    border: none;
    outline: none;
    background-color: #e6ecf1;
    border-radius: 3px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #55677d;
}

.turnoff button:hover {
    background-color: #dfe6ed;
    cursor: pointer;
}

.confirmation .settings, .security .settings {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: #e3e4e8 solid 1px;
}

.security {
    margin-top: 20px;
}

.graytext {
    color: #777777;
}

/* Стиль раздела "уведомления" */

.notifications {
    display: none;
}

.notifications .settings {
    border-bottom: #e3e4e8 1px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.notifications .settings > div {
    border-bottom: #e3e4e8 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
} 

.notifications .settings > :last-child {
    border-bottom: none;
} 

.notifications .settings > div > label {
    display: block;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notifications span {
    position: relative;
    display: inline-block;
    top: -10px;
    left: 10px;
}

.notifications > .settings > .browser, 
.notifications > .settings > .community {
    padding-top: 10px;
    padding-bottom: 10px;
}

.notifications label::before, .browser :first-child::before,
.community :first-child::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url(images/notifications.png);
}

.sound label::before {
    background-position: 0% 25%;
}

.messtext label::before {
    background-position: 0% 50%;
}

.browser :first-child::before,
.community :first-child::before {
    position: relative;
    top: 10px;
    left: -10px;
}

.browser :last-child,
.community :last-child {
    position: relative;
    float: right;
    top: 10px;
    left: 0;
}

.browser :first-child::before {
    background-position: 0% 75%;
}

.community :first-child::before {
    background-position: 0% 100%;
}

.notifications input {
    display: none;
}

.slider {
    float: right;
    margin-top: 10px;
    height: 14px;
    width: 40px;
    background-color: #ced7e0;
    border-radius: 10px;
}

.slider::before {
    content: '';
    position: relative;
    top: -3px;
    right: 0px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    display: block;
    transition: 0.1s;
    border: #b4bfcc 1px solid;
    box-sizing: border-box;
}

.notifications input:checked + .slider::before {
    transform: translateX(20px);
    border: none;
    background-color: #2a5885;
}

.notifications input:checked + .slider {
    background-color: #bccde0;
}

/* Стиль правой панели навигации */

.right {
    background-color: #ffffff;
    border: solid 1px #e3e4e8;
    border-radius: 3px;
    width: 230px;
    float: right;
    font-size: 10pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 48px;
}

.btn {
    position: relative;
    margin-top: 0px;
    height: 31px;
    padding: 0;
}

.btn span {
    position: absolute;
    width: 223px;
    padding: 8px 0px 8px 5px;
    border-left: 2px solid transparent;
    color: #2a5885;
}

.btn input {
    position: absolute;
    display: none;
}

.btn:hover span {
    background-color: #f0f2f5;
}

.btn input:checked + span {
    background-color: #f0f2f5;
    border-left: 2px #5181b8 solid;
    color: black;
    font-weight: bold;
}

/* Стиль левой панели навигации */
.left {
    background-color: transparent;
    color: #285473;
    font-size: 10pt;
}

.left > div {
    
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.left > div:hover {
    background-color: #e1e5eb;
    border-radius: 3px;
}

.left .menuicon {
    height: 15px;
    width: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
    background-image: url(images/menutrans.png);
    background-size: 36px;
    background-position: 0% -1%;
    background-repeat: no-repeat;
}

.left :nth-child(2) .menuicon {
    background-position: 0% 16%;
}

.left :nth-child(3) .menuicon {
    background-position: 0% 33.5%;
}

.left :nth-child(4) .menuicon {
    background-position: 0% 49%;
}

.left :nth-child(5) .menuicon {
    height: 14px;
    background-position: 0% 65.5%;
}

.left :nth-child(6) .menuicon {
    background-position: 0% 81%;
}

.left :nth-child(7) .menuicon {
    height: 16px;
    background-position: 0% 100%;
}

.left :nth-child(8) .menuicon {
    background-position: 100% -1%;
}

.left :nth-child(9) .menuicon {
    height: 14px;
    background-position: 100% 16%;
}

.left :nth-child(11) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left :nth-child(11) .menuicon {
    height: 16px;
    background-position: 100% 32%;
}

.left :nth-child(10), .left :nth-child(12) {
    position: relative;
    right: -40px;
    width: 90px;
    cursor: unset;
    height: 1px;
}

.left :nth-child(10) {
    border-bottom: 1px solid #dfe2e8;
}

.left :nth-child(12) {
    border-top: 1px solid #dfe2e8;
}

.left :nth-child(10):hover,
.left :nth-child(12):hover {
    background-color: transparent;
    border-radius: 0;
}

.left :nth-child(13) .menuicon {
    background-position: 100% 52%;
}

.left :nth-child(14) .menuicon {
    background-position: 100% 70%;
}

.left :nth-child(15) .menuicon {
    background-position: 100% 88%;
}


/* стиль элементов хедера */
.header > div {
    display: inline-block;
}

.header .logo {
    background-image: url(images/ic_head_logo.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 34px;
    position: relative;
    top: 12px;
    left: 12px;
}

.header input {
    position: relative;
    height: 24px;
    left: 120px;
    background-color: #224b7a;
    border: none;
    border-radius: 12px;
    outline: none;
    background-image: url(images/search_icon.png);
    background-repeat: no-repeat;
    background-position: 8px 5px;
    padding-left: 26px;
    padding-top: 2px;
}

.header input:focus {
    background-color: white;
}

/* стиль левого заполнителя */
.leftfill {
    /* display: inline-block; */
    right: 0;
    height: 42px;
    width: 100%;
    background-color: #4a76a8;
    position: sticky;
    top: 0px;
}