<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- "File" is for DAL on HDD, "Memory" is for DAL in RAM. Default is "Memory" -->
        <add key="DAL" value="Memory"/>
    </appSettings>
</configuration>