@using Task10.WebPL.Models;

@{
    Page.Title = "Add Award";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="main-container">
    <div class="add-form">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" name="title" id="Title" placeholder="Awards's title" required>
                <small id="emailHelp" class="form-text text-muted">Empty title is not allowed</small>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" name="image" id="image" accept=".jpg">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-info">Submit</button></div>
        </form>
</div>

@{
    if (IsPost)
    {
        string title = Request.Form["title"];

        HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
        byte[] bytes = null;

        if (file.ContentLength != 0)
        {
            bytes = new byte[file.ContentLength];
            file.InputStream.Read(bytes,0,bytes.Length);
        }
        else
        {
            bytes = File.ReadAllBytes(@"C:\UsersAndAwardsApp\award.png");
        }

        <br />
        <div class="alert alert-success add-form" role="alert">
            @AwardService.AddAward(title,bytes);
        </div>
    }
}
</div>