@using Task10.WebPL.Models;
@using System.Globalization;
@{
    Page.Title = "Change User";
    Layout = "~/Layouts/_MainLayout.cshtml";
    //var userService = new UserService();
}

    <div class="main-container">
        <div class="change-form">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">New name</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="New User's name">
                </div>
                <div class="form-group">
                    <label for="dateofbirth">New date of birth</label>
                    <input type="date" id="dateofbirth" class="form-control" name="dateofbirth" placeholder="New User's date of birth">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" name="image" id="image" accept=".jpg">
                </div>
                <div class="text-center"><button type="submit" class="btn btn-info">Submit</button></div>
            </form>
        </div>

        @{
            var id = int.Parse(Request["id"]);

            if (IsPost)
            {
                var user = UserService.GetUserById(id);

                string name = Request.Form["name"];
                if (name != null && !string.IsNullOrWhiteSpace(name))
                {
                    user.Name = name;
                }

                DateTime dateOfBirth;
                if (DateTime.TryParse(Request.Form["dateofbirth"],out dateOfBirth))
                {
                    user.DateOfBirth = dateOfBirth;
                }

                HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
                byte[] bytes = null;

                if (file.ContentLength != 0)
                {
                    bytes = new byte[file.ContentLength];
                    file.InputStream.Read(bytes,0,bytes.Length);
                    user.UserImage = bytes;
                }

                <br />
                if (UserService.UpdateUser(user))
                {
                    <div class="alert alert-success add-form" role="alert">
                        User has been changed.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning add-form" role="alert">
                        User cannot be changed.
                    </div>
                }
                <div class="text-center">
                    <a class="btn btn-info" href="~/Pages/ShowUsers.cshtml">Back to Users list</a>
                </div>
            }
        }
    </div>