@using Task10.WebPL.Models;
@using System.Globalization;
@{
    Page.Title = "Change Award";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

    <div class="main-container">
        <div class="change-form">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">New title</label>
                    <input type="text" id="title" class="form-control" name="title" placeholder="Award's new title">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" name="image" id="image" accept=".jpg">
                </div>
                <div class="text-center"><button type="submit" class="btn btn-info">Submit</button></div>
            </form>
        </div>

        @{
            var id = int.Parse(Request["id"]);

            if (IsPost)
            {
                var award = AwardService.GetAwardById(id);

                string title = Request.Form["title"];
                if (!string.IsNullOrWhiteSpace(title))
                {
                    award.Title = title;
                }

                HttpPostedFileBase file = Request.Files.Count != 0 ? Request.Files[0] : null;
                byte[] bytes = null;

                if (file.ContentLength != 0)
                {
                    bytes = new byte[file.ContentLength];
                    file.InputStream.Read(bytes,0,bytes.Length);
                    award.AwardImage = bytes;
                }

                <br />
                if (AwardService.UpdateAward(award))
                {
                    <div class="alert alert-success add-form" role="alert">
                        Award has been changed.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning add-form" role="alert">
                        Award cannot be changed.
                    </div>
                }
                <div class="text-center">
                    <a class="btn btn-info" href="~/Pages/ShowAwards.cshtml">Back to Awards list</a>
                </div>
            }
        }
    </div>