@using Task10.WebPL.Models;
@{
    Page.Title = "Success";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

@{UserService.RemoveAll();}

<div class="main-container">
    <div class="alert alert-info">All users has been removed.</div>
    <div class="text-center"><button class="btn btn-info" onclick="goHome();">Go home</button></div>
</div>

<script>
    function goHome() {
        location.href = "/index.cshtml";
    }
</script>