@using Task10.WebPL.Models;
@{
    Page.Title = "Remove Award";
    Layout = "~/Layouts/_AwardsLayout.cshtml";
    var awardService = new AwardService();
}

    <div class="main-container">
        @if (awardService.GetAllAwards().Any())
        {
            <hr class="my-2" />
            <div class="remove-form">
                <form method="post">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" name="id" id="id" min="1" placeholder="ID of an Award to remove" required>
                        <small id="emailHelp" class="form-text text-muted">Minimal value is 1</small>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-info">Submit</button></div>
                </form>
            </div>
        }

        @{
            if (IsPost)
            {
                int id = int.Parse(Request.Form["id"]);

                <br />
                if (awardService.RemoveAward(id))
                {
                    <div class="alert alert-success add-form" role="alert">
                        Award has been removed.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning add-form" role="alert">
                        Award with ID @id has not been found.
                    </div>
                }
            }
        }
    </div>
